<nav class="sb-sidenav sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" routerLink="/lap">
          <div class="sb-nav-link-icon">
            <i class="bi bi-laptop"></i>
          </div>

          Laptop
        </a>

        <a class="nav-link" routerLink="/kb">
          <div class="sb-nav-link-icon">
            <i class="bi bi-keyboard"></i>
          </div>
          Bàn phím
        </a>

        <a class="nav-link" routerLink="/chu">
          <div class="sb-nav-link-icon">
            <i class="bi bi-mouse"></i>
          </div>
          Chuột
        </a>
        <a class="nav-link" routerLink="/man">
          <div class="sb-nav-link-icon">
            <i class="bi bi-window-fullscreen"></i>
          </div>
          Màn hình
        </a>

       
      </div>
    </div>
  </nav>